[[!meta title="Trying a testing version of Tails"]]

[[!meta stylesheet="home" rel="stylesheet" title=""]]

[[!meta robots="noindex"]]

[[!meta script="home"]]

<div>[[!inline pages="home/tor_check" raw="yes" sort="age"]]</div>

<div>[[!inline pages="home/donate" raw="yes" sort="age"]]</div>

<div class="caution">

<p>You are running a testing version of Tails. Thanks!</strong>

<ul>
<li>If it's a release candidate or
a beta version, it should be safe to use but it might still be broken in many
ways.</li>
<li>Else, it might be unsafe for regular usage. Use only for testing
purposes.</li>
</ul>

<p>Report any problems to <a href="mailto:tails-testers@boum.org">tails-testers@boum.org</a>.</p>

</div>

<!-- Content specific to current calls for testing and alpha/beta/RCs starts
     here -->

<!-- <ul> -->
<!-- <li><a href="https://tails.boum.org/news/test_$TAG/">Call for testing: $VERSION</a></li> -->
<!-- </ul> -->

<!-- Content specific to current calls for testing and alpha/beta/RCs ends
     here -->

<div>
[[!inline pages="news" raw="yes" sort="age"]]
</div>
